body{
    text-align: left;
    columns: 3;
}
#countLabel, #rolldiceLabel, .Labels{
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 5px 10px;
    font-size: 1em;
    color: white;
    background-color: hsl(214, 100%, 70%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(214, 100%, 56%);
}
form{
    background-color: hsl(0, 0%, 99%);
    text-align: center;
    border-radius: 10px;
    box-shadow:  10px 5px 5px hsla(0, 0%, 0%, 0.3);
    padding: 25px;
    margin: 0;
}
#tempTextbox{
    background-color: hsla(109, 84%, 87%, 0.079);
    width: 50%;
    padding: 10px;
    font-size: 1.1em;
    margin: auto;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 100%, 0.341);
    box-shadow: 10px 5px 5px hsla(0, 0%, 0%, 0.3);;
}

div{
    display: flex;
    background-color: hsl(0, 0%, 99%);
    border-radius: 10px;
    box-shadow:  10px 5px 5px hsla(0, 0%, 0%, 0.3);
    padding: 25px;
    margin: auto;
    flex-direction: column;
    flex:1;    
    text-align: center;
}
